* {
	font-family: 'Montserrat';
	font-size: 0.9rem;
	box-sizing: border-box;
}

body, html {
	margin: 0;
	padding: 0;
	border: 0;
	height: 100%;
	width: 100%;
}

body {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	flex: 1;
}

nav {
	box-shadow: 0px 4px 77px rgba(0, 0, 0, 0.1);	
	height: 10vh;
	background-color: #FFFFFF;
	padding: 0.5rem 2rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: end;
	gap: 1rem;
}

nav > #nav-logo {
	margin-right: auto;
}

nav > #profile {
	border-radius: 100%;
	height: 2rem;
	width: 2rem;
	background-color: black;
}

#root {
	height: 100%;
}

.back-btn {
	background: none;
	border: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	padding: 0.5rem 1rem;
	margin: 1rem;
	margin-left: 0;
	border-radius: 500px;
	border: 1px solid transparent;
	transition: all 0.3s;
	cursor: pointer;
}

.back-btn:hover {
	background-color: #ddd;
	border: 1px solid gray;
}

.back-btn img {
	height: 1rem;
	margin-right: 0.5rem;
}