#video-view {
	margin-left: 5%;
}

.video-container {
	height: 70%;
	border: 1px solid gray;
	display: flex;
	flex-direction: row;
}

video {
	height: 100%;
	width: 70%;
}

.timeline {
	width: 30%;
	border: 1px solid gray;
	display: flex;
	flex-direction: column;
}

.timeline .timeline-heading {
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
	border: 0.5px solid #D9DBE9;
}

.timeline .timeline-heading h3{
	font-weight: 600 !important;
	margin-left: 2rem;
}

.timeline .timeline-topics {
	background-color: #F7F7FC;
	flex: 1;
}

.generate-qns-container {
	padding: 0.5rem 1rem;
	margin: 0 auto;
}

.generate-qns-container button {
	padding: 0.5rem 2rem;
	border: 0;
	background-color: #3C8DCB;
	color: white;
	font-weight: 400;
	border-radius: 500px;
}

.timeline-topic {
	list-style: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;
	padding: 10px;
}

.topic-timestamp {
	margin-left: auto;
	padding: 3px 5px;
	background-color: #F4C9FF;
	color: #9900DF;
}