.view-questions {
	margin: 0.5rem 5%;
	background-color: #fcfcfc;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.question-container {
	width: 60%;
	margin: 0 auto;
}

.question-header {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 1rem;
}

.question-header img {
	padding: 0.5rem;
	background: #F9E2FF;
	border-radius: 4px;
}

.option {
	padding: 1rem 1rem;
	background-color: white;
	background: #FCFCFC;
	border: 0.6px solid #D9DBE9;
	border-radius: 8px;
	margin: 1rem 0;
	
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;
}

.option * {
	display: inline;
	font-weight: 500;
}

.option input {
	appearance: none;
	width: 17px;
	height: 17px;
	border: 2px solid #6E7191;;
	border-radius: 50%;
	background-clip: content-box;
	padding: 2.5px;
	display: grid;
	place-content: center;
}

.option.correct-answer {
	background-color: #DFFFF6;
	border: 0.6px solid hwb(164 20% 8%);
	color: hwb(164 0% 41%);
}

.option.correct-answer input  {
	background-color:  hwb(164 0% 27%);
	border-color:  hwb(164 0% 27%);
}

.option.wrong-answer {
	background-color: #ffdfdf;
	border: 0.6px solid hwb(0 20% 8%);
	color: hwb(0 0% 41%);
}

.option.wrong-answer input  {
	background-color:  hwb(0 0% 41%);
	border-color:  hwb(0 0% 41%);
}

.hints-suggestion {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;
}

.hints-button {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 0.5rem 1.5rem;
	gap: 0.5rem;
	background: #FFED9D;
	border: 1px solid #FBD323;
	box-shadow: 0px 20px 24px rgba(17, 17, 17, 0.06);
	border-radius: 40px;
	font-weight: 500;
	cursor: pointer;
}

.qn-nav-btns {
	width: 50%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	padding-bottom: 2rem;
	flex: auto;
}

.qn-nav-btns button {
	padding: 0.5rem 1.5rem;
	border-radius: 1000px;
	background-color: #3C8DCB;
	color: white;
	border: 1px solid #3C8DCB;
	margin-right: 1rem;
	margin-top: auto;
	cursor: pointer;
	font-weight: 600;
}

.qn-nav-btns button:disabled {
	background-color: transparent;
	cursor: default;
	color: rgba(20, 20, 43, 0.5);
	border: none;
}

.question-text img {
	width: 100%;
}